@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/footer.css");
:root{
    --cor-de-fundo:#EBECEE;
    --cor-de-fundo2:#FFFFFF;
    --cor-dos-botoes:#EB9B00;
    --cor-letras1:#000000;
    --cor-letras2:linear-gradient(160deg, #002F52 0%, #326589 100%);
    --fonte-principal:"poppins";
    --azul:#002F52;
    --fonte-secundaria:"Josefin Sans";
    --preto:#000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --cor3:#F9F9F9;

}
*{
    margin: 0;
    padding: 0;
}
body{
   background-color: var(--cor-de-fundo); 
   font-family: var(--fonte-principal);
   font-size:16px;
   font-weight: 400;
}